    /* Headache pill */
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; outline: none; }

    @font-face { font-family: 'Insignia'; src: url('../fnt/fwot.woff') format('woff'); font-weight: normal; font-style: normal; }


    /* Main ---------------------------------------------------------- */
    body { font-family: 'Insignia', sans-serif; font-size: 14px; padding: 30px 20px 100px; margin: 0; }
    body, #noscript { background-color: #1a2d41; background-image: url('../img/fwothot_bg.png'); background-repeat: no-repeat; background-position: center bottom; background-size: contain; background-attachment: fixed; }

    #main_wrap { max-width: 800px; margin: 0 auto; }
    #main_head { margin: 0 -10px 30px -10px; display: flex; }
    #main_body { position: relative; }
    #main_body > div, #main_head > div { min-width: 320px; z-index: 1000; }

    #main_head > div { margin: 0 10px; }
    #main_logo, #noscript > div > div:first-child { font-size: 30px; letter-spacing: -0.06em; line-height: 30px; color: #ffed42; flex-grow: 1; white-space: nowrap; }
    #main_logo > div > a > div { font-size: 11px; line-height: 11px; text-shadow: none; letter-spacing: 0; padding-top: 5px; color: #fff398; }

    #main_menu { width: 100%; color: #ffffff; flex-grow: 1; }
    #main_menu > .menu_wrap { display: flex; margin: 0 -5px; }
    #main_menu > .menu_wrap > * { margin: 0 5px; padding: 0 5px; color: #1a2d41; background-color: #ffed42; border-radius: 5px; flex-grow: 1; height: 32px; line-height: 32px; text-align: center; cursor: pointer; white-space: nowrap; }
    #main_menu > .menu_wrap > a { display: block; }


    /* Icons --------------------------------------------------------- */
    .class_icon { background-size: auto 100%; background-repeat: no-repeat; background-image: url('../img/fwothot_icons_large.png'); cursor: default; }
    .items_icon { width: 35px; height: 35px; display: inline-block; vertical-align: middle; margin-right: 5px; background-size: auto 100%; background-repeat: no-repeat; background-image: url('../img/fwothot_icons_small.png'); }

    .items_ck { background-position: -40px top; }
    .items_pz { background-position: -24px top; width: 24px; height: 24px; margin-left: -5px; }
    .items_ch { background-position: -96px top; width: 24px; height: 24px; margin-right: 0; margin-left: -5px; }
    .items_ie { background-position: -120px top; width: 24px; height: 24px; }
    .items_xp { background-position: -105px top; }
    .items_kilo_r { background-position: -210px top; }
    .items_kilo_s { background-position: -245px top; }
    .items_mega_r { background-position: -280px top; }
    .items_mega_s { background-position: -315px top; }
    .items_giga_r { background-position: -350px top; }
    .items_giga_s { background-position: -385px top; }
    .items_tera_r { background-position: -420px top; }
    .items_tera_s { background-position: -455px top; }
    .items_peta_r { background-position: -490px top; }
    .items_peta_s { background-position: -525px top; }

    .stats_class > div.stats_class_1 { background-position: -40px top; line-height: 38px; }
    .stats_class > div.stats_class_2 { background-position: -80px top; line-height: 40px; }
    .stats_class > div.stats_class_3 { background-position: -120px top; padding-right: 4px; }
    .stats_class > div.stats_class_4 { background-position: -160px top; line-height: 46px; }
    .stats_class > div.stats_class_5 { background-position: -200px top; line-height: 40px; }

    .table_class { width: 20px; height: 20px; display: inline-block; vertical-align: middle; }
    .table_class_1 { background-position: -20px top; }
    .table_class_2 { background-position: -40px top; }
    .table_class_3 { background-position: -60px top; }
    .table_class_4 { background-position: -80px top; }
    .table_class_5 { background-position: -100px top; }


    /* Text styles --------------------------------------------------- */
    .shadow_l { text-shadow: 3px 4px 0 #0f1a26, -2px -2px 0 #0f1a26, 2px -2px 0 #0f1a26, -2px 2px 0 #0f1a26, 2px 2px 0 #0f1a26; }
    .shadow_s { text-shadow: 1px 2px 0 #0f1a26, -1px -1px 0 #0f1a26, 1px -1px 0 #0f1a26, -1px 1px 0 #0f1a26, 1px 1px 0 #0f1a26; }

    .title_l { font-size: 24px; color: #ffed42; position: relative; }
    .title_s { font-size: 16px; height: 14px; color: #ffffff; border-bottom: 1px rgba(255,255,255,0.2) solid; opacity: 0.6; }
    .title_s div { background-color: #1a2d41; display: inline-block; padding-right: 5px; }
    .title_s div, .calc_level_cp > div:not(:last-child) > div:first-child::after { background-color: #163c4a; }

    a, a:hover { text-decoration: none; color: inherit; }


    /* Stats --------------------------------------------------------- */
    .wrap > div:not(.title_s) { padding: 15px 0 25px; }
    .wrap > div:last-child { padding-bottom: 0; }
    .wrap:not(:last-child) { padding-bottom: 60px; }

    .stats_class { display: flex; justify-content: space-between; }
    .stats_class > div { width: 40px; height: 40px; color: #1a2d41; text-align: center; font-size: 22px; letter-spacing: -0.04em; line-height: 36px; }

    .stats_text { display: flex; justify-content: space-between; }
    .stats_text > div, .stats_expense, .calc_revenue_output, .calc_level_output { text-align: center; color: rgba(255,255,255,0.35); font-size: 14px; letter-spacing: -0.04em; }
    .stats_text > div div, .calc_revenue_output > div, .calc_level_output > div { font-size: 26px; color: #ffffff; }

    .stats_expense > div, .calc_revenue_output > div, .calc_level_output > div { display: flex; margin-top: 10px; justify-content: space-around; }
    .stats_expense > div { font-size: 22px; color: #ffffff; }
    .stats_expense .items_giga_r:after { content: "cp"; position: relative; bottom: -1px; color: #ffffff; font-size: 13px; }
    .stats_expense .items_giga_r { text-shadow: 1px 2px 0 #1a2d41, -1px -1px 0 #1a2d41, 1px -1px 0 #1a2d41, -1px 1px 0 #1a2d41, 1px 1px 0 #1a2d41; }


    /* Calculators --------------------------------------------------- */
    .calc_revenue_output span, .calc_level_output span { color: #ffffff; }

    .calc_level_cp { margin-top: 10px !important; }
    .calc_level_cp > div { font-size: 14px; flex-grow: 1; }
    .calc_level_cp > div:not(:last-child) { border-right: 1px rgba(255,255,255,0.1) solid; }
    .calc_level_cp > div > div:first-child { padding-bottom: 10px; position: relative; border-bottom: 1px rgba(255,255,255,0.1) solid; }
    .calc_level_cp > div > div:last-child { padding-top: 10px; position: relative; }
    .calc_level_cp > div:not(:last-child) > div:first-child:after { content: "or"; padding: 7px; color: rgba(255,255,255,0.2); line-height: 10px; z-index: 1000; position: absolute; right: 0; bottom: 0; transform: translate(50%, 50%); }
    .calc_level_cp .items_icon { margin-right: 0; }

    .calc_level_output > div.calc_level_cp { justify-content: stretch; }


    /* Tables -------------------------------------------------------- */
    table { border-collapse: separate; border-spacing: 0px; width: 100%; table-layout: fixed; }
    table th, table td { padding: 7px 5px; }

    table thead { color: rgba(255,255,255,0.5); text-align: center; }
    table thead th:nth-child(1), table tbody td:nth-child(1) { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left; }
    table thead th:nth-child(2), table tbody td:nth-child(2) { min-width: 30px; max-width: 30px; width: 30px; }
    table thead th:nth-child(3), table tbody td:nth-child(3) { min-width: 50px; max-width: 50px; width: 50px; text-align: center; white-space: nowrap; }
    table thead th:nth-child(4), table tbody td:nth-child(4) { width: 56px; text-align: center; }

    table tbody { color: #f5fff6; }
    table tbody::before { content:""; height: 3px; display: table-row; }
    table tbody tr:not(:last-child) { -webkit-box-shadow: 0px 11px 0px -10px rgba(255,255,255,0.15); -moz-box-shadow: 0px 11px 0px -10px rgba(255,255,255,0.15); box-shadow: 0px 11px 0px -10px rgba(255,255,255,0.15); }
    table tbody tr:first-child td { border-top: 2px solid #01937e; margin: 10px; }
    table tbody tr:last-child td { border-bottom: 2px solid #01937e; }
    table tbody tr td:first-child { border-left: 2px solid #01937e; padding-left: 10px; }
    table tbody tr td:last-child { border-right: 2px solid #01937e; padding-right: 10px; }
    table tbody tr:first-child td:first-child { border-top-left-radius: 5px; }
    table tbody tr:first-child td:last-child { border-top-right-radius: 5px; }
    table tbody tr:last-child td:first-child { border-bottom-left-radius: 5px; }
    table tbody tr:last-child td:last-child { border-bottom-right-radius: 5px; }

    table td.char_empty { min-height: 100px; padding: 30px !important; white-space: initial !important; text-align: center !important; }

    table tbody tr.selected { position: relative; background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 33%, rgba(255,255,255,0.15) 66%, rgba(255,255,255,0) 100%); }
    table tbody tr.selected div.level_control { display: block; }


    /* Controls ------------------------------------------------------ */
    .controls_range { padding-bottom: 8px !important; }
    .controls_range > div { width: 100%; margin-top: 20px; }

    .level_control { display: none; position: absolute; border-radius: 5px; background: rgba(95,108,122,0.98); box-shadow: 0px 10px 10px 10px #1a2d41; left: 10px; top: 32px; right: 10px; padding: 45px 20px 30px; }
    .level_control:before { content: "Adjust character level"; color: #ffffff; top: 17px; left: 20px; display: block; position: absolute; font-weight: 500 !important; }
    .level_control:after { bottom: 100%; right: 66px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: (95,108,122,0); border-bottom-color: rgba(95,108,122,1); border-width: 5px; margin-left: -5px; }
    .level_control .noUi-connect { margin: 0 -10px 0 0 !important; }
    .level_control_slide { background-color: rgba(26,45,65,0.5) !important; }

    .controls { display: flex; flex-wrap: wrap; margin: 0 -7px; }

    label { white-space: nowrap; line-height: 18px; font-size: 12px; color: #ffffff; display: inline-block; padding: 5px 7px 5px 31px; position: relative; height: 28px; flex: 1 0 26%; max-width: calc(100% / 3); overflow: hidden; text-overflow: ellipsis; }
    label input { display: none; }
    span.control_checkbox { width: 18px; height: 18px; border: 2px solid #01937e; border-radius: 5px; position: absolute; left: 7px; }
    span.control_checkbox span { width: 20px; height: 20px; display: none; position: absolute; left: 0; top: -5px; }
    label > input:checked + span.control_checkbox span { display: block; }

    #main_modal label { flex: 1 0 34%; max-width: 160px; }

    button { border: none; background: transparent; font-family: inherit; font-size: 16px; }

    .user_data_form { display: flex; width: 100%; }
    .user_data_response { color: #ffed42; text-align: center; padding-top: 5px; display: none; }
    .user_data_control { padding: 3px 10px; border: 2px #485767 solid; color: #ffffff; line-height: 20px; vertical-align: middle; border-radius: 5px; width: 100%; }
    .user_data_control:not(:only-child):first-child { border-right: 0; border-radius: 5px 0  0 5px; }
    .user_data_control:not(:only-child):last-child { border-left: 0; border-radius: 0 5px 5px 0; width: auto; }

    input.user_data_control { background: transparent; }
    button.user_data_control { background: rgba(255,255,255,0.1); cursor: pointer; }
    button.user_data_control:hover { background: rgba(255,255,255,0.2); }


    /* Sliders ------------------------------------------------------- */
    .noUi-target, .noUi-target * { -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-user-select: none; -ms-touch-action: none; touch-action: none; -ms-user-select: none; -moz-user-select: none; user-select: none; -moz-box-sizing: border-box; box-sizing: border-box; }
    .noUi-base, .noUi-handle { position: relative; z-index: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    .noUi-base { width: 100%; height: 100%; }

    .noUi-target { position: relative; direction: ltr; height: 6px; background: rgba(255,255,255,0.35); border-radius: 3px; }
    .noUi-handle { width: 20px; height: 20px; left: -10px; top: -7px; border-radius: 8px; background: rgba(255,255,255,1); cursor: default; box-shadow: 0 0 6px -3px #fff; }
    .noUi-connect { position: absolute; right: 0; top: 0; left: 0; bottom: 0; background: rgba(255,255,255,1); border-radius: 4px; box-shadow: 0 0 6px -3px #fff; -webkit-transition: background 450ms; transition: background 450ms; margin: 0 -10px 0 10px; }
    .noUi-origin { position: absolute; height: 0; width: 0; }
    .noUi-tooltip { display: block; position: absolute; color: #ffffff; padding: 5px; text-align: center; white-space: nowrap; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); left: 50%; bottom: 100%; font-size: 10px; }
    .noUi-active { box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

    .noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin { -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }
    .noUi-state-drag * { cursor: inherit !important; }

    [disabled] .noUi-connect { background: #B8B8B8; }
    [disabled].noUi-target, [disabled].noUi-handle, [disabled] .noUi-handle { cursor: not-allowed; }

    .noUi-pips, .noUi-pips * { -moz-box-sizing: border-box; box-sizing: border-box; }
    .noUi-pips { position: absolute; color: #999; }

    .noUi-value { position: absolute; white-space: nowrap; text-align: center; }
    .noUi-value-sub { color: #ccc; font-size: 10px; }

    .noUi-marker { position: absolute; background: #CCC; }
    .noUi-marker-sub { background: #AAA; }
    .noUi-marker-large { background: #AAA; }

    .noUi-pips-horizontal { padding: 10px 0; height: 80px; top: 100%; left: 0; width: 100%; }
    .noUi-value-horizontal { -webkit-transform: translate3d(-50%, 50%, 0); transform: translate3d(-50%, 50%, 0); }
    .noUi-marker-horizontal.noUi-marker { margin-left: -1px; width: 1px; height: 2px; }
    .noUi-marker-horizontal.noUi-marker-sub { height: 3px; }
    .noUi-marker-horizontal.noUi-marker-large { height: 5px; }

    .noUi-horizontal.noUi-extended { padding-right: 20px; }
    .noUi-horizontal.noUi-extended .noUi-handle { left: 0px; }
    .noUi-horizontal.noUi-extended .noUi-origin  { right: -10px; }


    /* Modal --------------------------------------------------------- */
    #main_modal { display: none; padding: 0 21px 0 15px; position: fixed; left: 0; top: 0; right: 0; bottom: 0; overflow-x: hidden; overflow-y: auto; z-index: 100000 !important; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; background-size: 120% 120%; background-position: 50% 50%; background: rgba(26,45,65,0.9) radial-gradient(ellipse at center, rgba(26,45,65,0) 10%, rgba(26,45,65,0.9) 100%); }
    #modal_wrap { width: 100%; min-height: 100%; display: flex; justify-content: center; align-items: center; }
    #modal_cont { padding: 4px; margin: 20px 0 24px; border-radius: 16px; background: linear-gradient(to bottom, rgba(17,43,78,0.5) 0%, rgba(17,43,78,0.6) 100%); box-shadow: inset 0px 0px 0px 4px rgba(81,191,158,1), inset 0px 0px 25px 4px rgba(51,111,130,1), 4px 4px 0px 0px rgba(14,102,87,1); overflow: hidden; min-width: 320px; min-height: 160px; }
    #modal_cont.small { max-width: 320px; }
    #modal_cont.small #modal_body { padding: 30px; }
    #modal_head { font-size: 18px; color: #ffffff; border-bottom: 1px rgba(255,255,255,0.15) solid; background-color: rgba(255,255,255,0.1); padding: 5px 0; text-align: center; }
    #modal_body { padding: 10px 15px; color: #ffffff; }
    #modal_body > .text { color: rgba(255,255,255,0.5); margin: 20px 0; }
    #modal_body > .text > span { color: rgba(255,255,255,1); }
    #modal_body .controls { display: flex; flex-wrap: wrap; margin: 0 -7px 0px -7px; }
    #modal_foot { padding: 0 30px 30px; display: flex; justify-content: flex-end; }
    #modal_foot button { width: 100px; height: 28px; line-height: 28px; background-image: url('../img/fwothot_buttons.png'); text-align: center; background-size: auto 100%; cursor: pointer; color: #005748; }
    #modal_button_cancel { color: #004a5e !important; background-position: -100px top; order: 0; margin-right: 10px; }
    #modal_button_done { order: 1; }

    .show_modal { overflow: hidden; }
    .show_modal #main_modal { overflow-x: hidden; overflow-y: auto; display: block; }

    #noscript { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000; display: flex; justify-content: center; align-items: center; text-align: center; }
    #noscript > div > div:last-child { max-width: 320px; color: rgba(255,255,255,0.5); padding-top: 30px; }


    /* Responsiveness ------------------------------------------------ */
    @media all and (max-width: 639px) {
        body { background-size: 200%; }
        #modal_cont { max-width: 360px; }
        
        #main_logo { font-size: 9.4vw; line-height: 8vw; text-align: center; }
        #main_logo > div > a { text-align: left !important; display: inline-block; }
        #main_logo > div > a > div { font-size: 3vw; }
        #main_head { flex-wrap: wrap; }
        #main_menu { margin-top: 20px !important; }
    }

    @media all and (min-width: 640px) and (max-width: 767px) {
        #modal_cont { max-width: 520px; }
    }

    @media all and (min-width: 768px) and (max-width: 1023px) {
        #modal_cont { max-width: 680px; }
    }

    @media all and (min-width: 1024px) {
        #modal_cont { max-width: 830px; }
    }

    @media all and (max-width: 719px) {
        #tabs_head_main { display: flex; width: calc(100% + 4px); margin: 0 -2px; }
        #tabs_head_main > div { padding: 10px 0; border-radius: 10px 10px 10px 10px; margin: 0 2px; text-align: center; cursor: pointer; flex-grow: 1; font-size: 20px; position: relative; }
        #tabs_head_main.hasActive > div { border-radius: 10px 10px 0 0; }
        #tabs_head_main > div.active { background: #163c4a; }
        #tabs_head_main > div:not(.active) { background: rgba(1,147,126,0.5); opacity: 1; text-shadow: none; color: rgba(255,255,255,0.5); }
        #tabs_body_main { border-radius: 0 0 10px 10px; background: #163c4a; box-shadow: 0px 10px 10px 10px #1a2d41; margin-bottom: 20px; }
        #tabs_body_main > div.active { padding: 20px 15px 30px; }
        #tabs_body_main > div:not(.active) { display: none; }
        #tabs_body_main .title_l { display: none; }

        #tab_head_2.hasFilter.active:after { background-color: #ffed42; box-shadow: 3px 3px 0px 2px #0f1a26, 0px 0px 0px 2px #0f1a26; }
        #tab_head_2.hasFilter:after { position: absolute; top: 0; right: 0; content: "!"; font-size: 12px; line-height: 14px; font-weight: 700; text-align: center; margin-left: 10px; display: inline-block; width: 14px; height: 14px; border-radius: 7px; color: #1a2d41; text-shadow: none; background-color: #536472; transform: translate(-5px, -50%); }

        #main_body { padding-top: 60px; }
        #main_ctrl { position: absolute; top: 0; width: 100%; }

        .controls label { flex: 1 0 26%; max-width: calc(100% / 4); }
    }

    @media all and (min-width: 720px) {
        #main_body { margin: 0 -10px; display: flex; }
        #main_body > div { flex: 1 0; margin: 0 10px; }

        #main_menu, #main_ctrl { max-width: 320px; }

        #tabs_head_main { display: none; }
        #tabs_body_main { padding-top: 25px; }
        #tabs_body_main > div { margin-bottom: 10px; overflow: hidden; padding: 10px 15px; border-radius: 10px; background: #163c4a; position: relative; }
        #tabs_body_main > div .title_l { cursor: pointer; }
        #tabs_body_main > div .title_l:after { content: "\2770"; display: block; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 18px; position: absolute; top: 2px; right: 0; color: rgba(255,255,255,0.35); transform: rotate(90deg); text-shadow: none; }
        #tabs_body_main > div.collapsed .title_l:after { transform: rotate(-90deg); }
        #tabs_body_main > div > .wrap { opacity: 1; max-height: 800px; padding-top: 20px; padding-bottom: 20px; transition-property: max-height, padding-top, padding-bottom, opacity; transition-delay: 0ms, 0ms, 0ms, 500ms; transition-duration: 500ms; }
        #tabs_body_main > div.collapsed > .wrap { opacity: 0; max-height: 0; padding-top: 0; padding-bottom: 0; transition-property: opacity, max-height, padding-top, padding-bottom; transition-delay: 0ms, 500ms, 500ms, 500ms; transition-duration: 500ms; }

        #tab_body_2.hasFilter:after { position: absolute; top: 23px; left: 85px; content: "!"; font-size: 12px; line-height: 14px; font-weight: 700; text-align: center; margin-left: 10px; display: inline-block; width: 14px; height: 14px; border-radius: 7px; color: #1a2d41; text-shadow: none; background-color: #ffed42; box-shadow: 3px 3px 0px 2px #0f1a26, 0px 0px 0px 2px #0f1a26; transform: translate(-5px, -50%); }
    }

    @media all and (max-width: 520px) {
        .controls label { flex: 1 0 26%; max-width: calc(100% / 3); }
    }